/* bigger screens */
@media only screen and (min-width: 1400px) {
  .overlay h1 {
    font-size: 6rem;
  }

  /* history */
  .history h2,
  .objective h2,
  .mision-contents h2 {
    font-size: 2.5rem;
  }

  .history p,
  .objective p,
  .mision-contents p {
    font-size: 1.3rem;
  }

  .video-history iframe {
    width: 100%;
    height: 500px;
  }

  /* approach */

  .approach .overlays {
    padding: 50px;
  }
}

@media only screen and (max-width: 1350px) {
  .card {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .overlay h1 {
    font-size: 3.5rem;
  }

  .objImg .img1 {
    width: 500px;
  }
}

@media only screen and (max-width: 768px) {
  .overlay h1 {
    font-size: 3rem;
  }
  .objImg {
    display: none;
  }

  .history-content {
    flex-wrap: wrap;
  }

  .mission-img img {
    width: 100%;
  }
}
